html {
  background-color: #f5f5f5;
}

.formContainer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  /*align-items: center;*/
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

.form_record {
  width: auto;
  max-width: 410px;
  padding: 15px;
  margin: 0 auto;
}

.form_record .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form_record .form-control:focus {
  z-index: 2;
}

.form-group-class {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  clear: both;
}

.form-group-hour {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  clear: both;
}

.form-group-text {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  clear: both;
}

.form-group-class label {
  justify-content: start;
  white-space:nowrap;
  margin-right: 40px;
  width: 70%;
  text-align: left;
}

.form-group-hour label {
  justify-content: start;
  white-space:nowrap;
  margin-right: 40px;
  width: 70%;
  text-align: left;
}

.form-group-text label {
  justify-content: start;
  white-space:nowrap;
  margin-right: 40px;
  width: 70%;
  text-align: left;
}

.form-group-class select {
  width: 100%;
  clear: both;
}

.form-group-hour select {
  width: 100%;
  clear: both;
}

.form-group-class input {
  width: 100%;
  clear: both;
}

.form-group-text textarea {
  width: 100%;
  clear: both;
}

.mb-3 {
  margin-bottom: 1.9rem!important;
  justify-content: center;
}

th .today { 
  display: none; 
}

#incdec {
  display: contents;
  width: 40%;
  clear: both;
}

#decimalScore {
  width: 45%;
}

#decrement {
  margin-left: 15px;
}

#selection {
  width: 105%;
}

#selectChildLbl {
  width: 20%;
  margin-right: 13px;
}

.alignLeft {
  text-align: left;
}

.customBackColor {
  background-color: rgba(127, 255, 212, .8);
}

#subjectSelection {
  margin-right: 4px;
}

#startDateSelection {
  margin-right: 4px;
}

#endDateSelection {
  margin-right: 4px;
}