.error-back-color {
    background-color: #ffdad8;
}

.success-back-color {
   background-color: #b6ffb2; 
}

.btn-static {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    cursor: default;
}
.btn-static:active {
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
}

.btn-static:hover {
    color: #fff;
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
}

#pageSubmenu {
    margin-left: 22px;
}

.sideDropdown .feather-chevron-up {
    display: none;
}

.liDropdown::after {
    display: none;
}

#spanSSN {
    display: none;
}

#selectedChild {
    width: 100%;
}

.filterLabel {
    margin-right: 2px;
}

.sidebar .ajaxLink {
    color: #dc3545;
}